appnope==0.1.3
asttokens==2.4.1
attrs @ file:///private/tmp/python-attrs-20231231-5366-i5kyp3/attrs-23.2.0
certifi @ file:///private/tmp/python-certifi-20231211-18985-dqvlfz/certifi-2023.11.17
cffi @ file:///private/tmp/cffi-20231212-42180-nb05ya/cffi-1.16.0
charset-normalizer @ file:///private/tmp/python-charset-normalizer-20231124-5409-dzj2ez/charset-normalizer-3.3.2
cli-helpers==2.3.0
click==8.1.7
comm==0.2.1
configobj==5.0.8
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
greenlet==3.0.3
idna @ file:///private/tmp/python-idna-20231125-5404-ostvf5/idna-3.6
ipykernel==6.29.0
ipython==8.20.0
jedi==0.19.1
Jinja2 @ file:///private/tmp/python-jinja-20240111-4980-wxbfhp/Jinja2-3.1.3
jupyter_client==8.6.0
jupyter_core==5.7.1
MarkupSafe @ file:///private/tmp/python-markupsafe-20240120-5045-9kloe3/MarkupSafe-2.1.4
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy==1.26.3
packaging @ file:///private/tmp/python-packaging-20231211-11583-vmtfsi/packaging-23.2
pandas==2.2.0
parso==0.8.3
pathspec @ file:///private/tmp/python-pathspec-20231212-5149-sdd2ey/pathspec-0.12.1
pendulum==3.0.0
pexpect==4.9.0
pgcli==4.0.1
pgspecial==2.1.1
platformdirs @ file:///private/tmp/python-platformdirs-20231204-5689-lioyxf/platformdirs-4.1.0
prompt-toolkit==3.0.43
psutil @ file:///private/tmp/python-psutil-20240120-4912-5zd9yy/psutil-5.9.8
psycopg==3.1.17
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pycparser @ file:///private/tmp/pycparser-20231211-26290-qd4lvz/pycparser-2.21
Pygments==2.17.2
pyspark==3.5.0
pyspark-pandas==0.0.7
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML @ file:///private/tmp/pyyaml-20231019-6134-1qsnlp0/PyYAML-6.0.1
pyzmq==25.1.2
requests @ file:///private/tmp/python-requests-20231124-5870-cua30x/requests-2.31.0
setproctitle==1.3.3
six==1.16.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
stack-data==0.6.3
tabulate==0.9.0
time-machine==2.13.0
tornado==6.4
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3 @ file:///private/tmp/python-urllib3-20231124-5700-jlx8tx/urllib3-2.1.0
wcwidth==0.2.13
wget==3.2
